.agent-screen-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.agent-screen-wrapper .agent-list {
  width: 245px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: auto;
  border-right: 1px solid #dddddd;
  background: #F5FCFF;
}
.agent-screen-wrapper .agent-list .active-interaction-h {
  width: 100%;
  line-height: 59px;
  padding: 0 5px 0 10px;
  height: 59px;
  border-bottom: 1px solid #dddddd;
  font-weight: bold;
}
.agent-screen-wrapper .agent-list .active-interaction-h .add-icon {
  font-size: 18px;
  float: right;
}
.agent-screen-wrapper .agent-list .active-customers {
  width: 100%;
  border-bottom: 1px solid #dddddd;
  padding: 10px;
  font-size: 12px;
  background: #fff;
}
.agent-screen-wrapper .agent-list .active-customers span {
  font-size: 10px;
}
.agent-screen-wrapper .top-bar {
  position: absolute;
  right: 0;
  left: 245px;
  height: 95px;
  border-bottom: 1px solid #dddddd;
}
.agent-screen-wrapper .top-bar .agent-details {
  height: 59px;
  padding: 10px;
  border-bottom: 1px solid #dddddd;
}
.agent-screen-wrapper .top-bar .agent-details .glyphicon-user {
  font-size: 16px;
  margin-top: 10px;
}
.agent-screen-wrapper .top-bar .agent-details h5 {
  margin: 10px 10px 0;
  display: inline-block;
}
.agent-screen-wrapper .top-bar .interaction-header {
  height: 35px;
  text-align: right;
}
.agent-screen-wrapper .top-bar .interaction-header .nav > li > a {
  padding: 8px 15px;
}
.agent-screen-wrapper .top-bar .interaction-header .nav-tabs {
  float: right;
  border-bottom: 0;
}
.agent-screen-wrapper .top-bar .interaction-header .nav-tabs > li > a {
  border-radius: 0;
  float: right;
  margin-right: 0;
  border: 0;
  border-left: 1px solid #dddddd;
  min-width: 45px;
  min-height: 35px;
  color: #000000;
}
.agent-screen-wrapper .top-bar .interaction-header .nav > li > a:hover {
  background-color: transparent;
}
.agent-screen-wrapper .top-bar .interaction-header .nav-tabs > li.active > a {
  background: none;
  border-left: 1px solid #dddddd;
  border-top: 0;
  border-right: 0;
}
.agent-screen-wrapper .top-bar .interaction-header .interaction-links {
  height: 35px;
  line-height: 35px;
  text-align: left;
  float: left;
}
.agent-screen-wrapper .top-bar .interaction-header .interaction-links .link-block {
  border-right: 1px solid #dddddd;
  display: inline-block;
}
.agent-screen-wrapper .top-bar .interaction-header .interaction-links .link-block a {
  display: block;
  padding: 0 15px;
  color: #666666;
}
.agent-screen-wrapper .top-bar .interaction-header .interaction-links .link-block a:hover {
  text-decoration: none;
  color: #333;
}
.agent-screen-wrapper .center-content {
  position: absolute;
  right: 0;
  top: 95px;
  left: 245px;
  height: 100%;
  background: #fff;
}
.agent-screen-wrapper .center-content .main-panel {
  right: 300px;
  bottom: 0;
  left: 0;
  position: absolute;
  height: 100%;
  overflow: auto;
}
.agent-screen-wrapper .center-content .main-panel .case-details {
  width: 100%;
  padding: 15px;
  border-bottom: 8px solid #dddddd;
}
.agent-screen-wrapper .center-content .main-panel .case-title {
  width: 100%;
}
.agent-screen-wrapper .center-content .main-panel .case-details-row {
  width: 100%;
  border-top: 1px solid #dddddd;
}
.agent-screen-wrapper .center-content .main-panel .case-details-row .row-details {
  padding: 10px 0;
}
.agent-screen-wrapper .center-content .main-panel .case-details-row .case-details-row:after {
  clear: both;
  content: " ";
}
.agent-screen-wrapper .center-content .main-panel .conversation-history {
  width: 100%;
}
.agent-screen-wrapper .center-content .main-panel .conversation-history .conversation-hist-h {
  text-align: center;
  color: #90a7ad;
  padding: 15px 10px;
}
.agent-screen-wrapper .center-content .main-panel .conversation-history .conversation-hist-row {
  width: 100%;
  border-bottom: 1px solid #dddddd;
  padding: 15px 0 10px 25px;
}
.agent-screen-wrapper .center-content .main-panel .conversation-history .conversation-hist-row.active {
  border-left: 5px solid #dddddd;
  padding-left: 20px;
}
.agent-screen-wrapper .center-content .main-panel .conversation-history .conversation-hist-row .user-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  display: inline-block;
  border-radius: 100px;
  background: #dddddd;
  vertical-align: top;
}
.agent-screen-wrapper .center-content .main-panel .conversation-history .conversation-hist-row .user-comments-col {
  display: inline-block;
  width: 92%;
}
.agent-screen-wrapper .center-content .main-panel .conversation-history .conversation-hist-row .user-comments-col p {
  margin-top: 3px;
}
.agent-screen-wrapper .center-content .main-panel .conversation-history .conversation-hist-row .user-comments-col .time-stamp {
  color: #999;
  font-size: 11px;
}
.agent-screen-wrapper .center-content .main-panel .reply-case {
  border-top: 1px solid #dddddd;
}
.agent-screen-wrapper .center-content .main-panel .reply-case textarea {
  border: 0;
  padding: 10px;
  width: 100%;
}
.agent-screen-wrapper .center-content .interaction-panel {
  width: 300px;
  border-left: 1px solid #dddddd;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}
.agent-screen-wrapper .center-content .interaction-panel .panel-header {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  margin-top: -1px;
  padding: 10px;
  background: #f6f6f6;
}
.agent-screen-wrapper .center-content .interaction-panel .panel-header .panel-link {
  font-size: 12px;
}
.agent-screen-wrapper .center-content .interaction-panel .panel-header .panel-link a {
  text-decoration: underline;
}
.agent-screen-wrapper .center-content .interaction-panel .panel-details {
  padding: 10px;
}
.agent-screen-wrapper .center-content .interaction-panel .panel-details .interaction-details-row {
  margin-bottom: 20px;
  width: 100%;
}
.agent-screen-wrapper .center-content .interaction-panel .panel-details .interaction-details-row .details-heading {
  width: 100%;
  color: #90a7ad;
}
.agent-screen-wrapper .center-content .interaction-panel .panel-details .interaction-details-row .details-data {
  width: 100%;
}
