.content-box{
	margin:0 0 10px 0;
	font-size: 13px;

	.list-group{
		overflow: auto;
	    min-height: 200px;
	    max-height: 200px;
	}
	label{
		font-weight: normal;
	}
	.search-icon{
		margin: 4px 0 0;
	}
}