@import "category-assets.css";
@import "agent-screen.css";
@import "inbox.css";
@import "settings.css";

 body {
    background-color: #F4F4F4;
}
h1 .breadcrumb {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-weight: normal;
}

.action-sidebar{
	position: fixed;
	width: 55px;
	left: 0;
	top: 50px;
	bottom: 0;
	background: #6b6b6b;
}
.action-sidebar a{
	font-size: 18px;
	text-align: center;
	color: #fff;
	display: block;
	padding: 15px 0;
}
.content-wrapper{
	position: fixed;
	top: 50px;
	left: 55px;
	bottom: 0;
	right: 0;
	background: #F6F6F6;
}
.settings-sidebar{
	width: 200px;
    position: fixed;
	/*position: absolute;*/
	/*top: 0;
	bottom: 0;*/
	overflow: auto;
}
.settings-sidebar .list-group{
	/*margin-top: 60px;*/
	-webkit-box-shadow: none;
	box-shadow: none;
}
.settings-sidebar .list-group a{
	background-color: transparent;
	border: 1px solid #dddddd;
    border-width: 0 0 1px 0;
    border-radius: 0;
}
.settings-sidebar .list-group a:hover,
.settings-sidebar .list-group a.current{
	color: #1997ca;
}
.settings-sidebar .list-group a.current{
	font-weight: bold;
}

.setting-content{
	margin-left: 215px;
	margin-right: 15px;
}
.setting-content h1{
    font-size: 18px;
    border-bottom: 1px solid;
    padding: 0 0 10px 0;
}
.setting-content .nav-tabs{
	border-bottom: 0;
}
.setting-content .hide + .tab-content{
	top: 60px;
}
.setting-content .tab-content{
	position: absolute;
	background: #fff;
	top: 101px;
	bottom: 15px;
	right: 0;
	left: 215px;
	margin-right: 15px;
	border: 1px solid #ddd;
	padding: 15px;
	z-index: -1;
	border-radius:0 4px 4px 4px;
	overflow: auto;
}
.setting-content .tab-content.setting-details{
	bottom: 64px;
}
.save-form{
	position: absolute;
	bottom: 15px;
	right: 0;
    left: 215px;
}
.navbar-inverse .navbar-nav > li > a.current{
	color: #fff;
}
.settings-listing .thumb{
	width: 39px;
	height: 39px;
	border-radius: 50%;
}

.general-layout .title {
	padding: 15px 15px;
}
.general-layout .title h1{
    display: inline-block;
    margin: 0;
    font-size: 18px;
    line-height: 34px;
    vertical-align: middle;
}
.general-layout .title .btn + h1{
	margin-left: 5px;
}
.inbox-wrapper{
	position: absolute;
	top: 64px;
	bottom: 0;
	left: 0;
	right: 0;
	border: 1px solid #ddd;
	background: #fff;
}
.inbox tr{
	cursor: pointer;
}
.inbox tr:hover{
	background: #f6f6f6;
}
.faceted-search{
	width: 245px;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	padding: 15px;
	overflow: auto;
}
.faceted-search .panel-heading{
	padding: 0;
}
.faceted-search .panel h4 a{
	padding: 10px 15px;
	display: block;
}
.faceted-search .panel h4 a:hover,
.faceted-search .panel h4 a:focus{
	text-decoration: none;
}
.faceted-search .panel .panel-body label{
	display: block;
	font-weight: normal;
	width: 100%;
}
.inbox{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 245px;
	right: 0;
	padding: 15px 15px 15px 0;
	overflow: auto;
}
.no-padding{
	padding: 0 !important;
}
.btn-link.has-checkbox:hover{
	text-decoration: none !important;
}
.table-footer{
	border-top: 1px solid gray;
}
.pager{
	width: 390px;
	margin: 0;
}
.pager .form-control{
	display: inline-block;
	width: auto;
	margin: 0 5px;
}
.filter-tags{
	margin: 0 0 20px 0;
}
.filter-tags a{
	color: #777;
	font-weight: bold;
}
.filter-tags span{
	background: #efefef;
	border: 1px solid #ccc;
	color: #000;
	font-weight: normal;
}

.img-placeholder{
	margin: 51px 0 0 55px;
	display: block;
}
.img-placeholder img{
	width: 100%;
}
#exampleModal .modal-dialog{
	width: 680px;
}

.groupbox{
    max-height: 112px;
    overflow: auto;
    margin: 0 0 0 0;
    padding: 7.5px 15px 9.5px 15px;
    border-top: none;
    border: 1px solid #E7E7E7;
    box-sizing: border-box;
}
.groupbox-options{
    padding: 8.5px 15px 7.5px 15px;
    background-color: #F7F7F7;
    border: 1px solid #E7E7E7;
    border-bottom: none;
}
.groupbox-options input{
    margin-top: 0;
    position: relative;
    top: -1px;
    margin: 0 6px 0 0;;
}
.groupbox-options label{
    margin: 0;
    font-weight: normal;
}
.groupbox-item{
    margin: 7.5px 0 3.5px 0;
    min-width: 145px;
}
.groupbox-item  span{
    display: inline-block;
    width: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0px 0 -3px 0;
    font-weight: normal;
    line-height: 15px;
}
.no-margin{
	margin:0 !important;
}
.aside-sort a{
	color: #000;
	border: none;
	border-radius: 0 !important;
}
.aside-sort .cus-active{
	background: #eee; 
}
.aside-sort{
	box-shadow: none;
	/*height: 446px;*/
}
.settings-listing tr:first-child th{
	background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
    background-image: -o-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e8e8e8));
    background-image: linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
}
.settings-listing tr th{
	background: whitesmoke;
}
.input-group .btn-trans{
	background: #fff;
	border: 1px solid #CCC;
    border-width: 1px 1px 1px 0;
}
.setting-details .form-horizontal .control-label {
	text-align: left;
	margin-bottom: 5px;
}
.settings-listing .badge-default{
	background: #D2D2D2;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.5);
    margin: -3px 0 0 5px;
    font-size: 11px;
    padding: 2px 9px;
}
.case-subject-td{
	max-width: 180px;
}
.case-subject{
	width: 90%;
	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
}
.content-box .list-group .text-muted{
	color: #aaa;
}
.category-column, .category-column .panel-heading {
	border-radius: 0;
}
.category-column {
	background: #F5FCFF;
	color: #4D7788;
	position: fixed;
	top: 136px;
	left: 289px;
	width: 210px;
	overflow: auto;
	padding-top: 51px;
	margin-bottom: 0;
	border-top: 0;
	// display: none;
}
.category-column .panel-heading {
	background: #E1EEF4;
	color: #4C7687;
	width: 208px;
	position: fixed;
	margin-top: -51px;
	z-index: 1;
	padding: 15px;
}
.category-column .panel-body{
	padding-top: 5px;
}
.ul-category{
	list-style: none;
    margin: -5px 0 0 0;
    padding: 0;
}
.ul-category li a{
	position: relative;
    display: block;
    padding: 5px 15px;
    color: #000;
    text-decoration: none;
}
.ul-category li a.disabled,
.ul-category li a.disabled:hover{
	cursor: no-drop;
	background: transparent;
	opacity: 0.2;
	color: #000;
}
.ul-category li a:hover,
.ul-category li a.active {
	background: #000;
	color: #dfdfdf;
	text-decoration: none;
}
.filter.newf {
    background: #fff;
    position: absolute;
    top: 0;
    left: 15px;
    right: 15px;
    height: 50px;
}
.settings-layout.no-sidebar .title,
.settings-layout.no-sidebar .command,
.settings-layout.no-sidebar .filter,
.settings-layout.no-sidebar .list,
.settings-layout.no-sidebar .paginate-wrap{
	left: 55px;
}
.reorder.list tr:hover td{
	cursor: move;
}
.faceted-search .tab-content{
	margin-top: 20px;
}
.status-views ul {
	padding-left: 0;
}
.status-views ul li{
	list-style-type: none;
	/*margin-bottom: 8px;*/
}
.status-views ul li a{
	color: #666;
	display: block;
	padding: 5px;
}
.status-views ul li a:hover{
	text-decoration: none;
	padding: 5px;
	background: #e1edf2;
	padding: 5px;
}
.views-count{
	float: right;
	background: #DFDFDF;
	border-radius: 10px;
	color: #666666;
	min-width: 28px;
	text-align: center;
	font-weight: normal;
}
.new-case-form{
	width: 278px;
	min-height: 520px;
	max-height: 520px;
	padding-top: 10px;
	border: 1px solid #ddd;
	position: absolute;
	background: #fff;
	margin-top: 10px;
	right: 15px;
	overflow-y: auto;
	box-shadow: -2px 2px 5px #ddd;
	-moz-box-shadow: -2px 2px 5px #ddd;
	-webkit-box-shadow: -2px 2px 5px #ddd;
}
.comb-fmar{
	margin-top: 2px;
}
.case-id{
	color: #858585;
}

.case-creation form{
	padding: 15px;
}
.interaction-header .nav-tabs > li.active{
	background: #ddd;
}
.field-mastergroup{
	max-width: 265px
}
.field-mastergroup input,
.field-mastergroup .input-group,
.field-mastergroup .input-group .btn,
.field-mastergroup .input-group input:last-child{
	border-radius: 0;
	background: #fff;
	margin-bottom: -1px;
	box-shadow: none;
}
.field-mastergroup .input-group .btn{
	padding-right: 20px;
}
.field-mastergroup input:first-child{
	border-radius: 4px 4px 0 0;
}
.field-mastergroup input:last-child{
	border-radius: 0 0 4px 4px;
}
.case-creation.agent-ui .mce-toolbar-grp{
	position: absolute;
    width: 100%;
    top: 147px;
    z-index: 9;
    border-top: 1px solid #ccc;
    height: 36px;
}
.list-v1,
.list-v1 li{
	display: block;
	margin: 0;
	padding: 0;
}
.list-v1 a{
	border-bottom: 1px solid #ccc;
	padding: 15px;
	display: block;
}
.list-v1 li span{
	display: block;
	color: #666;
}
.list-v1 small{
	color: #aaa;
}
.list-v1 a:hover{
	text-decoration: none;
	background: #eee;
}
.panel-header .btn-sm{
	padding: 0 5px;
}
.interaction-panel .tab-pane .panel-header{
	position: fixed;
    top: 145px;
    width: 300px;
}
.interaction-panel .tab-content{
	position: absolute;
    top: 42px;
    bottom: 0;
    overflow: auto;
    width: 100%;
}
.cc-footer{
	position: fixed;
    bottom: 0;
    width: 300px;
    z-index: 9;
    background: #fff;
    box-shadow: 1px -1px 5px #aaa;
    padding: 10px 15px;
    margin: 0 0 0 -15px;
}