.pager-textbox {
	width: 50px;
    display: inline-block;
}
.pos-relative {
	position: relative;
}
.inline-block {
	display: inline-block;
}
.badge {

	&.simple-badge {
		background-color: #aaa;
		color: #fff; 
	}
	&.alert-closed {
		background-color: #ccc;
		color: #fff;
	}
}

.filter-tags.collapse {
    display: block !important;
    overflow: hidden;
    height: 22px !important;
  background: #fff;
    position: absolute;
    z-index: 2;
    padding: 0 10px 10px 0;
    margin-right: 15px;
}
.filter-tags {
	&.in {
	    display: block;
	    position: absolute;
	    background: #fff;
	    height: auto !important;
	    box-shadow: 2px 2px 2px #ccc;
	            box-shadow: 0 2px 2px #ccc;
	    padding: 0 10px 10px 0;
	    margin-right: 15px;
	}
	&.collapsing {
	  height: 22px !important;
	  background: #fff;
	  position: absolute;
	  padding: 0 10px 10px 0;
	  margin-right: 15px;
	}
	&.hide.o {
	  height: 22px !important;
	}
}
	.filter-modal-body {
		max-width: 350px;
		width: 350px;

		.close-filter-modal {
			position: absolute;
		    right: 1px;
		    top: 1px;
		    background: #ccc;
		    border-radius: 4px;
		    text-align: center;
		    line-height: 18px;
		    font-weight: bold;
		    padding: 6px 12px;
		    cursor: pointer;
		}
	}


		.filter-select2 {
			z-index: 9999;
		}

	
