body{
	padding: 51px 0 0 55px;
}
.settings-layout .title{
	background: #f4f4f4;
	position: fixed;
	height: 49px;
	left: 55px;
	right: 0;
	border-bottom: 1px solid #C0C2C4;
}
.command{
	background: #f4f4f4;
	position: fixed;
	top: 100px;
	left: 55px;
	right: 0;
	height: 36px;
	border-bottom: 1px solid #C0C2C4;
}
.filter{
	background: #fff;
	position: fixed;
	top: 136px;
	left: 55px;
	right: 0;
	height: 50px;
}
.list, .filter {
	left: 499px;
}
.filter.no-sidebar,
.list.no-sidebar,
.paginate-wrap.no-sidebar{
	left: 289px;
}
.list{;
	position: fixed;
	top: 176px;
	/*left: 55px;*/
	right: 0;
	bottom: 30px;
	/*margin: 0 20px;*/
	margin-top: 10px;
	border-top: 1px solid #c0c2c4;
	background: #fff;
}
.paginate-wrap{;
	position: fixed;
	bottom: 0;
	left: 289px;
	right: 0;
	height: 36px;
	background: #F4F4F4;
	border-top: 1px solid #c0c2c4;
}
.command .btn{
	padding: 8px 20px;
	border-width: 0 0 0 1px;
	border-radius: 0;
	background: transparent;
	text-shadow: none;
	border-color: #C0C2C4;
	outline: none;
	box-shadow: none;
}
.command .pull-left .btn{
	border-width: 0 1px 0 0;
	float: left;
}
.filter .input-group{
	width: 210px;
	position: absolute;
}
.filter .alpha{
	max-width: 450px;
	text-align: center;
	text-transform: uppercase;
	font-size: 12px;
	margin: 18px auto 0 auto;

}
.filter .paginate-info{
	position: absolute;
	right: 0;
	line-height: 55px;
	top: 0;
	padding: 0 20px 0 0;
	font-size: 12px;
}
.filter .input-group{
	padding: 13px 0 0 20px;

}
.filter .input-group input{
	height: 24px;
	box-shadow: none;
	border-radius: 12px 0 0 12px;
}
.filter .input-group input::-webkit-input-placeholder {
   color: #ccc;
   font-size: 12px;
   line-height: 21px;
   font-weight: normal;
}

.filter .input-group input:-moz-placeholder { /* Firefox 18- */
   color: #ccc;
   font-size: 12px;
   line-height: 21px;
   font-weight: normal;
}

.filter .input-group input::-moz-placeholder {  /* Firefox 19+ */
   color: #ccc;
   font-size: 12px;
   line-height: 21px;
   font-weight: normal;
}

.filter .input-group input:-ms-input-placeholder {  
   color: #ccc;
   font-size: 12px;
   line-height: 21px;
   font-weight: normal;
}
.filter .input-group-btn .btn{
	font-size: 9px;
	padding: 0 12px 0 8px;
	line-height: 22px;
	border-radius: 0 12px 12px 0;
	color: #aaa;
}
.filter .alpha {
	max-width: 535px;
	margin: 18px auto 0 auto;
	padding-left: 80px;
}
.filter .alpha a{
	padding: 0 2px;
}
.filter .alpha a:last-child{
	text-transform: lowercase;
	margin: 0 0 0 8px;
	color: #777;
}
.filter .alpha a.disabled{
	color: #c3c3c3;
	cursor: not-allowed;
}
.command, .settings-layout .title {
  left: 289px;
}   
.settings-layout .title h1{
	margin: 0;
	font-size: 14px;
	font-weight: normal;
	padding: 14px 0 0 20px;
}
.settings-layout .title .sep{
	margin: 0 4px;
}
.paginate-wrap .action{
	width: 170px;
	position: absolute;
	margin: 10px 0 0 10px;
	font-size: 12px;
	display: none;
}
.paginate-wrap .paginate{
	max-width: 450px;
	margin: 7px auto 0 auto;
	text-align: center;
	font-size: 12px;
	}
.paginate-wrap .paginate a{
	display: inline-block;
	min-width: 20px;
	border: 1px solid #ccc;
	padding: 1px 0 0 0;
}
.paginate-wrap .paginate a.active{
	background: #ccc;
	color: #555;
}
.paginate-wrap .paginate a:hover{
	text-decoration: none;
}
.paginate-wrap .paginate a.disabled{
	color: #ccc;
	cursor: not-allowed;
}
.paginate-wrap .paginate a:first-child{
	border: none;
	margin: 0 5px 0 0;
}
.paginate-wrap .paginate a:last-child{
	border: none;
	margin: 0 0 0 5px;
}
.paginate-wrap .paginate-info{
	position: absolute;
	right: 0;
	line-height: 37px;
	top: 0;
	padding: 0 20px 0 0;
	font-size: 12px;
}


.filter.hide + .list{
	// top: 144px;

}
.list section {
  padding-top: 30px;
}
.list section:before{
	content: "";
	position: absolute;
	height: 31px;
	background: #F2F2F2;
	top: 0;
	left: 0;
	right: 0;
	z-index: -1;

}
.list .badge-default{
	background: #D2D2D2;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.5);
    margin: -3px 0 0 5px;
    font-size: 11px;
    padding: 2px 9px;
}
.list section.positioned {
  position: absolute;
  top:100px;
  left:100px;
  width:800px;
  box-shadow: 0 0 15px #333;
}
.list .holder {
  overflow-y: auto;
  height: 482px;
  background: #fff;
}
.list table {
  border-spacing: 0;
  width:100%;
  background: #fff;
}
.list.reorder td{
	border-bottom-style: dashed;
	border-color: #ddd;
}
.list td, th {
  border-bottom:1px solid #eee;
  color: #000;
  padding: 8px 20px 8px 10px;
}
.list .btn-group{
	width: 80px;
	visibility: hidden;
}
.list .btn-group.unhide{
	visibility: visible;
}
.list tr:hover .btn-group{
	visibility: visible;
}
.list th {
  height: 0;
  line-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  color: transparent;
  white-space: nowrap;
  font-size: 12px;
  font-weight: normal;
}
.list th:first-child input{
	margin: 0;

}
.list th div{
  position: absolute;
  background: transparent;
  padding: 8px 18px 0px 25px;
  top: 0;
  margin-left: -25px;
  line-height: normal;
  color: #000;;
}
.list th:first-child div{
  border: none;;
}
.has-checkbox .list th:nth-child(1),
.has-checkbox .list td:nth-child(1) {
    padding-right: 0px;
    width: 25px;
}
.has-checkbox .list th:nth-child(1) input,
.has-checkbox .list td:nth-child(1) input {
	position: relative;
    // visibility: hidden;
	z-index: 9;
}
.has-checkbox .list tr:hover th:nth-child(1) input,
.has-checkbox .list tr:hover td:nth-child(1) input{
	visibility: visible;
}
.has-checkbox .list tr:hover td{
	background: #F5FCFF;
	cursor: default;
}
.has-checkbox .list th:nth-child(2),
.has-checkbox .list td:nth-child(2) {
    padding-left: 6px;
}









.details{;
}
.details .form-only{
	margin: 30px 0 0 0;

}
.form-horizontal .holder{
	max-width: 800px;
	margin: 0 auto;
}
// .form-horizontal .form-group{
// 	border-bottom: 1px solid #EFEFEF;
// 	padding: 0 0 25px 0;
// 	margin-bottom: 25px;
// }
.details.has-tools{;
	position: fixed;
	left: 55px;
	right: 0;
	background: #fff;
	z-index: -1;
	bottom: 0;;
	top: 136px;
	overflow: auto;

}
.details .tools{
	background: #F4F4F4;
	padding: 14px 0 0 0;

}
.details .filter + .list{
	top: 230px;
	background-color: white;
}
.details .tools .input-group input{
	box-shadow: none;
	-webkit-box-shadow:none;
}
.list.member .thumbnail,.searchmember .thumbnail{
	margin: 0 7px 0 0;
	display: inline-block;
	width: 33px;
	height: 33px;
	border-radius: 50%;
	vertical-align: middle;
	padding: 0;
	overflow: hidden;
}
.list.member .thumbnail.person, .searchmember .thumbnail.person{
	border-width: 3px;
	border-color: #7D2;
}
.list.member .thumbnail.group, .searchmember .thumbnail.group{
	border-radius: 5px;
}
.searchmember .ms-search {
	padding-left: 10px;
	padding-right: 10px;
}
.searchmember input[type=checkbox] {
	margin-right: 5px
}
.tools .select2-container .select2-selection--single{
	height: 34px;
}
.tools .select2 + .input-group-btn{;
	position: absolute;
	right: 30px;
}
.tools .select2-container .select2-selection--single .select2-selection__rendered{
	padding-right: 0;
}
.tools .select2-container .select2-selection--single .select2-selection__clear{
	margin-right: 5px;
}
.details .cBlock{
	display: none;
}
.details .cBlock.selected{
	display: block;
}
.command .btn.selected {
	background: #FDFDFD;
	height: 35px;
}
.command .btn.disabled{
	opacity: 0.3;
	pointer-events: all;
}
.command .btn.disabled:hover{
	background: #f4f4f4;	
}
.tools + .filter{
	top: 199px;
}


.input-group .ms-options-wrap > button:focus, .ms-options-wrap > button{
	margin: 0 0 0 0;
	border-radius: 4px 0 0 4px !important;
}
.input-group.is-blocked{
	display: block;
}
.input-group.is-blocked .input-group-btn{
	position: absolute;
	top: 0;
	right: -5px;
}
td.no-data{
	text-align: center;
	height: 200px;
	background: #F7F7F7;
	font-size: 16px;
}
.panel-default.restyle .panel-heading{
	background: #f2f2f2;
	border: none;
	border-top: 1px solid #C0C2C4;
	border-radius: 0;
	padding: 8px 16px 2px 16px;
}
.panel-default.restyle{
	border: none;
	box-shadow: none;
}
.panel-default.restyle .list-group{
	box-shadow: none;
	border-radius: 0;
	border: 1px solid #ECE9E9;
}
.disabled-input{
	display: none;
}
.tools .form-group{
	margin-left: 0;
	margin-right: 0;
}
.settings-layout.no-sidebar .list{
	left: 75px !important;
	right: 20px;
}
.tooltip-inner{
	text-align:left;
}


  .only-textlink {
      margin-top: 44px;
    }
    .only-textlink .add-link {
      position: absolute;
      top: 4px;
    }
    .only-textlink .ms-options-wrap > button{
      width: 100px;
      opacity: 0;    
      height: 34px;
    }
    .only-textlink .list-group-item:first-child {
        padding-bottom: 0;
    position: absolute;
    top: 0px;
    /*z-index: 1;*/
    background: #F4F4F4;
    left: 15px;
    right: 15px;
    border: 1px solid #dddddd !important;
  }
  .only-textlink .list-group-item a i {
    position: absolute;
    right: 15px;
    top: 10px;
  }
  .only-textlink .list-group-item:first-child a i {
    position: initial;
    right: initial;
    top: initial;

  }
.only-textlink .ms-options-wrap > .ms-options {
  border-top: 1px solid #CCC;
}
.ui-sortable-placeholder{
	background: #FFC;
	visibility: visible !important;
}
.ui-sortable-helper td:first-child{
	border-left: 1px dashed #ccc;
}
.ui-sortable-helper td{
	border-top: 1px dashed #ccc;
	border-bottom: 1px dashed #ccc;
	background: #D1EAF5 !important;
}
.ui-sortable-helper td:last-child{
	border-right: 1px dashed #ccc;
}
.reorder .glyphicon-resize-vertical{
	opacity: 0.2;
}
.sub-btn{
	position: absolute;
    top: 19px;
    padding: 0 15px 0 20px;
    height: 15px;
	left: -6px;
}
.sub-btn .btn-xs{;
	position: relative;
	top: -4px;
}
.category-visibility{
	// display: none;
}