<div class="pager">
			Page <button class="btn btn-default">&#60;</button><input type="text" value="1" size="1" name="" id="" class="form-control"><button class="btn btn-default">&#62;</button> of 2 &nbsp;&nbsp;|&nbsp;&nbsp; 
			<select style="width: 50px" id="" class="form-control">
				<option value="">25</option>
				<option value="">50</option>
				<option value="">100</option>
			</select>
			records per page
		</div>