<!-- <a href="company.html" class="list-group-item">Company</a> -->
<!-- <a href="agents.html" class="list-group-item">Agents</a> -->
<!-- <a href="roles.html" class="list-group-item">Roles</a> -->
<!-- <a href="customer.html" class="list-group-item">Customers</a> -->
<!-- <a href="ticket-form.html" class="list-group-item">Forms</a> -->
<a class="action-row list-group-item" style="border:none">
    <button type="button" class="toggle-menu-button" >
        <i class="glyphicon glyphicon-menu-hamburger"></i>
        <span class="sr-only">Toggle navigation</span>
    </button>
</a>
<a href="category.html" class="list-group-item">Categories</a>
<a href="status.html" class="list-group-item">Status</a>
<a href="priority.html" class="list-group-item">Priority</a>
<!-- <a href="priority.html" class="list-group-item">Priority</a> -->
<a href="type.html" class="list-group-item">Type</a>
<!-- <a href="type.html" class="list-group-item">Type</a> -->