.agent-screen-wrapper{
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    .agent-list{
	    width: 245px;
	    position: absolute;
	    top: 0;
	    left: 0;
	    bottom: 0;
	    // padding: 15px;
	    overflow: auto;
	    border-right: 1px solid #dddddd;
	    background: #F5FCFF;

	    .active-interaction-h{
	    	width: 100%;
	    	line-height: 59px;
	    	padding: 0 5px 0 10px;
	    	height: 59px;
	    	border-bottom: 1px solid #dddddd;
			font-weight: bold;

			.add-icon{
				font-size: 18px;
				float: right;
			}
	    }
	    .active-customers{
	    	width: 100%;
	    	border-bottom: 1px solid #dddddd;
	    	padding: 10px;
			font-size: 12px;
			background: #fff;

			span{
				font-size: 10px;
			}
	    }
    }
    .top-bar{
    	position: absolute;
	    right: 0;
	    left: 245px;
	    height: 95px;
	    border-bottom: 1px solid #dddddd;

	    .agent-details{
	    	height: 59px;
	    	padding: 10px;
	    	border-bottom: 1px solid #dddddd;

	    	.glyphicon-user{
	    		font-size: 16px;
	    		margin-top: 10px;
	    	}
	    	h5{
	    		margin: 10px 10px 0;
	    		display: inline-block;
	    	}
	    }
	    .interaction-header{
	    	height: 35px;
	    	text-align: right;

	    	// .interaction-box{
	    	// 	display: inline-block;
	    	// 	line-height: 35px;
	    	// 	border-left: 1px solid #dddddd;
	    	// 	min-width: 40px;
	    	// }
	    	.nav > li > a{
	    		padding: 8px 15px;
	    	}
	    	.nav-tabs{
	    		float: right;
	    		border-bottom: 0;
	    	}
	    	.nav-tabs > li > a{
	    		border-radius: 0;
	    		float: right;
	    		margin-right: 0;
	    		border: 0;
	    		border-left: 1px solid #dddddd;
	    		min-width: 45px;
	    		min-height: 35px;
	    		color: #000000;
	    	}
	    	.nav > li > a:hover{
	    		background-color: transparent;

	    	}
	    	.nav-tabs > li.active > a, {
	    		background: none;
	    		border-left: 1px solid #dddddd;
	    		border-top: 0;
	    		border-right: 0;
	    	}
	    	.interaction-links{
	    		height: 35px;
	    		line-height: 35px;
	    		text-align: left;
	    		float: left;

	    		.link-block{
	    			border-right: 1px solid #dddddd;
	    			display: inline-block;

	    			a{
	    				display: block;
	    				padding: 0 15px;
	    				color: #666666;

	    				&:hover{
	    					text-decoration: none;
	    					color: #333;
	    				}
	    			}
	    		}
	    	}
	    }
    }
    .center-content{
    	position: absolute;
	    right: 0;
	    top: 95px;
	    left: 245px;
	    height: 100%;
	    background: #fff;

	    .main-panel{
	    	right: 300px;
	    	bottom: 0;
	    	left: 0;
	    	position: absolute;
	    	height: 100%;
	    	overflow: auto;

	    	.case-details{
	    		width: 100%;
	    		padding: 15px;
	    		border-bottom: 8px solid #dddddd;
	    	}
	    	.case-title{
	    		width: 100%;
	    	}
	    	.case-details-row{
	    		width: 100%;
	    		border-top: 1px solid #dddddd;
				
	    		.row-details{
	    		 	padding: 10px 0;
	    		}
				.case-details-row:after{
					clear: both;
					content: " ";
				}

	    	}
	    	.conversation-history{
	    		width: 100%;
	    		
	 			.conversation-hist-h{
	 				text-align: center;
	 				color: #90a7ad;
	 				padding: 15px 10px;
	 			}

	 			.conversation-hist-row{
	 				width: 100%;
	 				border-bottom: 1px solid #dddddd;
	 				padding: 15px 0 10px 25px;

	 				&.active{
	 					border-left: 5px solid #dddddd;
	 					padding-left: 20px;
	 				}

	 				.user-icon{
	 					width: 40px;
	 					height: 40px;
	 					margin-right: 10px;
	 					display: inline-block;
	 					border-radius: 100px;
	 					background: #dddddd;
	 					vertical-align: top;
	 				}
	 				.user-comments-col{
	 					display: inline-block;
	 					width: 92%;
						
						p{
							margin-top: 3px;
						}
	 					.time-stamp{
	 						color: #999;
	 						font-size: 11px;
	 					}
	 				}

	 			}
	    	}
	    	.reply-case{
	    		border-top: 1px solid #dddddd;
	    		// position: absolute;
	    		// bottom: 0;
	    		// left: 0;

	    		textarea{
	    			border: 0;
	    			padding: 10px;
	    			width: 100%; 
	    		}
	    	}
	    }

	    .interaction-panel{
	    	min-width: 300px;
	    	border-left: 1px solid #dddddd;
	    	position: absolute;
	    	top: 0;
	    	right: 0;
	    	bottom: 0;
	    	overflow: auto;

	    	.panel-header{
	    		border-top: 1px solid #dddddd;
	    		border-bottom: 1px solid #dddddd;
	    		margin-top: -1px;
	    		padding: 10px;

	    		.panel-link{
	    			font-size: 12px;

	    			a{
	    				text-decoration: underline;

	    			}
	    		}
	    	}
	    	.panel-details{
				padding: 10px;

				.interaction-details-row{
					margin-bottom: 20px;
					width: 100%;

					.details-heading{
						width: 100%;
						color: #90a7ad;
					}
					.details-data{
						width: 100%;
					}
				}
	    	}
	    }
    }
}