@import "category-assets.css";
@import "agent-screen.css";
@import "inbox.css";

h1 .breadcrumb {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-weight: normal;
}

.action-sidebar{
	position: fixed;
	width: 55px;
	left: 0;
	top: 50px;
	bottom: 0;
	background: #6b6b6b;
}
.action-sidebar a{
	font-size: 18px;
	text-align: center;
	color: #fff;
	display: block;
	padding: 15px 0;
}
.content-wrapper{
	position: fixed;
	top: 50px;
	left: 55px;
	bottom: 0;
	right: 0;
	background: #F6F6F6;
}
.settings-sidebar{
	width: 200px;
	position: absolute;
	top: 0;
	bottom: 0;
	overflow: auto;
}
.settings-sidebar .list-group{
	margin-top: 60px;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.settings-sidebar .list-group a{
	background-color: transparent;
	border: 1px solid #dddddd;
    border-width: 0 0 1px 0;
    border-radius: 0;
}
.settings-sidebar .list-group a:hover,
.settings-sidebar .list-group a.current{
	color: #1997ca;
}
.settings-sidebar .list-group a.current{
	font-weight: bold;
}

.setting-content{
	margin-left: 215px;
	margin-right: 15px;
}
.setting-content h1{
    font-size: 18px;
    border-bottom: 1px solid;
    padding: 0 0 10px 0;
}
.setting-content .nav-tabs{
	border-bottom: 0;
}
.setting-content .hide + .tab-content{
	top: 60px;
}
.setting-content .tab-content{
	position: absolute;
	background: #fff;
	top: 101px;
	bottom: 15px;
	right: 0;
	left: 215px;
	margin-right: 15px;
	border: 1px solid #ddd;
	padding: 15px;
	z-index: -1;
	border-radius:0 4px 4px 4px;
	overflow: auto;
}
.setting-content .tab-content.setting-details{
	bottom: 64px;
}
.save-form{
	position: absolute;
	bottom: 15px;
	right: 0;
    left: 215px;
}
.navbar-inverse .navbar-nav > li > a.current{
	color: #fff;
}
.settings-listing .thumb{
	width: 39px;
	height: 39px;
	border-radius: 50%;
}

.general-layout .title {
	padding: 15px 15px;
}
.general-layout .title h1{
    display: inline-block;
    margin: 0;
    font-size: 18px;
    line-height: 34px;
    vertical-align: middle;
}
.general-layout .title .btn + h1{
	margin-left: 5px;
}
.inbox-wrapper{
	position: absolute;
	top: 64px;
	bottom: 0;
	left: 0;
	right: 0;
	border: 1px solid #ddd;
	background: #fff;
}
.inbox tr{
	cursor: pointer;
}
.inbox tr:hover{
	background: #f6f6f6;
}
.faceted-search{
	width: 245px;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	padding: 15px;
	overflow: auto;
}
.faceted-search .panel-heading{
	padding: 0;
}
.faceted-search .panel h4 a{
	padding: 10px 15px;
	display: block;
}
.faceted-search .panel h4 a:hover,
.faceted-search .panel h4 a:focus{
	text-decoration: none;
}
.faceted-search .panel .panel-body label{
	display: block;
	font-weight: normal;
	width: 100%;
}
.inbox{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 245px;
	right: 0;
	padding: 15px 15px 15px 0;
	overflow: auto;
}
.no-padding{
	padding: 0 !important;
}
.btn-link.has-checkbox:hover{
	text-decoration: none !important;
}
.table-footer{
	border-top: 1px solid gray;
}
.pager{
	width: 390px;
	margin: 0;
}
.pager .form-control{
	display: inline-block;
	width: auto;
	margin: 0 5px;
}
.filter-tags{
	margin: 0 0 20px 0;
}
.filter-tags a{
	color: #777;
	font-weight: bold;
}
.filter-tags span{
	background: #efefef;
	border: 1px solid #ccc;
	color: #000;
	font-weight: normal;
}

.img-placeholder{
	margin: 51px 0 0 55px;
	display: block;
}
.img-placeholder img{
	width: 100%;
}
#exampleModal .modal-dialog{
	width: 680px;
}

.groupbox{
    max-height: 112px;
    overflow: auto;
    margin: 0 0 0 0;
    padding: 7.5px 15px 9.5px 15px;
    border-top: none;
    border: 1px solid #E7E7E7;
    box-sizing: border-box;
}
.groupbox-options{
    padding: 8.5px 15px 7.5px 15px;
    background-color: #F7F7F7;
    border: 1px solid #E7E7E7;
    border-bottom: none;
}
.groupbox-options input{
    margin-top: 0;
    position: relative;
    top: -1px;
    margin: 0 6px 0 0;;
}
.groupbox-options label{
    margin: 0;
    font-weight: normal;
}
.groupbox-item{
    margin: 7.5px 0 3.5px 0;
    min-width: 120px;;}
.groupbox-item  span{
    display: inline-block;
    width: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0px 0 -3px 0;
    font-weight: normal;
    line-height: 15px;
}
.no-margin{
	margin:0 !important;
}
.aside-sort a{
	color: #000;
	border: none;
	border-radius: 0 !important;
}
.aside-sort .cus-active{
	background: #eee; 
}
.aside-sort{
	box-shadow: none;
	height: 446px;
}
.settings-listing tr:first-child th{
	background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
    background-image: -o-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e8e8e8));
    background-image: linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
}
.settings-listing tr th{
	background: whitesmoke;
}
.input-group .btn-trans{
	background: #fff;
	border: 1px solid #CCC;
    border-width: 1px 1px 1px 0;
}
.setting-details .form-horizontal .control-label {
	text-align: left;
	margin-bottom: 5px;
}
.settings-listing .badge-default{
	background: #D2D2D2;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.5);
    margin: -3px 0 0 5px;
    font-size: 11px;
    padding: 2px 9px;
}
.case-subject-td{
	max-width: 180px;
}
.case-subject{
	width: 90%;
	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
}
.content-box .list-group .text-muted{
	color: #aaa;
}
